@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <img src="~/Content/images/banner.png" width="100%" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h2>IP Mockup</h2>
            <p>
                A playground for planning and creating mockups for future application development.
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Developer</th>
                        <th>Role</th>
                        <th>Specifics</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Karl James Velarde</td>
                        <td>Web App</td>
                        <td>WUI/UX, MVC, Angular, GFX</td>
                    </tr>
                    <tr>
                        <td>James Davis</td>
                        <td>Web App</td>
                        <td>MVC, Database</td>
                    </tr>
                    <tr>
                        <td>Kevin Pereksta</td>
                        <td>Offline App</td>
                        <td>Java, Editor</td>
                    </tr>
                        <tr>
                            <td>Blake Herrington</td>
                            <td>Offline App</td>
                            <td>Java, Hierarchy, File Management</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
        <div class="row">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>


